.app-wrapper{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40ox auto;
    padding-left: 180px;
    background-color: #fff;
    margin-left: -30px;
}
.right-app-wrapper{
    display: flex;
    width: 1200px;
    margin: 40ox auto;
    padding-left: 180px;
    background-color: #fff;
}
/* asside */
.short_presentation{
    background-color: black;
    width: 320px;
height: 1079px;

}
.short_presentation_TITLE{
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 60px;
    margin-right:-45px;
}
.short_presentation_IMG{
    width: 200px;
    height: 147px;
padding-right: 20px;    
padding-left: 80px;
margin-left: -70px;
}
.short_presentation_subtitle{
    color: #FFF;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top:40px;
}
.short_presentation_description{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Midle bpdy */
.midlle_body{
margin-left: -55px;
}
.Title{
    color: #000;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    text-align: left;
}
.underline_title{
    
    color: #000;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-align: right;
    

}
.Regular_style{
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.the_anchor_txt{
    color:  #00F;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: none;
}
.paragraph_look{
    color: rgba(0, 0, 0, 0.98);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.ForMarh{

}
.ForPhysics{

}
.ForCS{

}
/* Costs */
.COSTS{
    margin-right: -630px;
    margin-left:50px;
    z-index: 1;
    position: relative;

}
.COSTS_FORM{
    z-index: -1;
    position: relative;

}
.cost_title{
    color: #000;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 40px;
}
.COSTS_txt{
    margin-right: -80px;
}
.small_txt_costs{
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: -20px;
}
.big_txt_costs{
    color: #000;
    font-family: Inter;
    font-size: 41px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 70px;

}
.cost_math1{

}
.cost_math2{

}
.cost_physics{

}
.cost_CS{

}
.COSTS_FORM{
    
}